<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">
    <title>MY Name</title>
</head>
<body>
    <div class="container">
        <div class="heading">TODO APP</div>
        <div class="description">
            <div class="div-header-font">DESCRIPTION</div>
            <input type="text" name="user_description" placeholder="What do you need to do?">
        </div>
        <div>
            <div class="category">
                <div class="div-header-font">CATEGORY</div>
            </div>
            <div class="due-date"></div>
        </div>
        <div>
            <button class="add-task"></button>
            <button class="delete-task"></button>
        </div>
        <ul class="user-list">
            <li>dummy data</li>
        </ul>
    </div>
</body>
</html>