*{
    background-color: white;
    margin: 0;
    padding: 0;
}

/* main container */
.container{
    width: 50%;
    height: 500px;
    margin:auto;
    margin-top:20px;
    border:2px solid black;
}
/* heading of the container */
.heading{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid grey;
}

/* description of the container */
.description{
    border-bottom: 2px solid grey;
    padding:10px 5px 10px 5px;
}

.description > input{
    width: 100%;
}
/* unset all the decoration on input  */
/* input{
    all:unset;
} */

/* set font bold and size 1rem */
.div-header-font{
    font-weight: bold;
    font-size:1rem;
    color:grey;
}
/* select buttons */
select{
    width:100%;
    border-style: none;
}

select > option{
    font-weight: bold;
    font-size: 0.7rem;
}

.add-task{
    background-color: grey;
    color:white;
    width: 30%;
    height: 80%;
    border:none;
    font-size: 1.1rem;
    padding:10px;
    margin:10px 0px 10px 0px;
}
.delete-task{
    background-color: red;
    color: white;
    width:30%;
    height:80%;
    border:none;
    font-size:1.1rem;
    padding:10px;
    margin:10px 0px 10px 0px;
}
.user-list{
    margin:0px 10px 0px 10px;
    padding:5px 10px 5px 10px;
}
li{
    padding:5px 10px 5px 10px;
    list-style-type: none;
    font-size:1.2rem;
    color:gray;
    font-family:Arial, Helvetica, sans-serif;
}

hr{
    margin:5px 0px 10px 0px;
}

.user-list > div{
    float:right;
    background-color: purple;
    color:white;
    padding:3px;
    height: 20px;
    width:20%;
    text-align: center;
    border-radius: 2px;
    font-size: 1.3rem;
}

/* making class for reusing */

.unset_decoration{
    all:unset;
}
.display-flex-btwnSpace{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding:10px 5px 10px 5px;
}

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100pcnt{
    width:100%;
}


.width-50pcnt{
    width:50%;
}

.inline-class{
    display: inline;
}

.add-bottom-border{
    border-bottom: 2px solid grey;
}