*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid black;
    width: 35vw;
    height: auto;
    margin:10px auto auto auto; 
}

.center-align{
    text-align: center;
}

div > input{
    width:100%;
    border:2px solid grey;
    padding-left:4px;
    padding-right:4px;
    box-sizing: border-box;
    font-size:2rem;
}

ul{
    list-style: none;
    font-size:2rem;
}

ul li{
    padding: 10px;
}

img{
    width:28px;
    height:28px;
    float:right;
}